show router static-route {{ ggc.ipv4 }}
show router static-route {{ ggc.ipv6 }}
show router policy prefix-list "POPCDN-IPV6-GGC-LAN"
show router bgp neighbor 89.200.128.[12..14] ipv6 advertised-routes | match {{ ggc.ipv6 }}
show router bgp neighbor 89.200.128.[88..90] ipv4 advertised-routes | match {{ ggc.ipv4 }}
