mpls ldp no neighbor {{ system_address }} password

interface Port-channel3.{{ sed_vlanid }}
 description [no-mon,core,rd={{ node_name }}:sdp267,cid=SNS:1000/LNBL-{{ sed_remote_site_code }}/PW/{{ (sed_vlanid|int + 1000) + 999360000 }}] sedcanopy pw
 shutdown
end
