configure router mpls ingress-statistics lsp "{{ node_name|upper }}-1-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-2-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-3-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-4-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-5-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-6-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-7-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-8-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-9-AR13ENLBA" sender {{ system_address }} shutdown

configure router mpls ingress-statistics lsp "{{ node_name|upper }}-10-AR13ENLBA" sender {{ system_address }} shutdown
