bof address          {{ dcn_primary_address }} active
bof address          {{ dcn_secondary_address }} standby
bof static-route     10.200.0.0/15 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     84.38.45.0/24 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     84.38.47.0/24 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     90.207.236.0/23 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     90.207.238.0/24 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     90.223.196.0/24 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}
bof static-route     90.223.208.0/23 next-hop {{ dcn_primary_address | ipaddr('1')|replace("/24"," ") }}

bof persist on
bof li-separate

bof primary-image    cf3:\IMAGES\TiMOS-12.0R5
bof primary-config   cf3:\CFG\{{ node_name }}.cfg
bof secondary-image  cf3:\IMAGES\TiMOS-10.0R5
