configure terminal
!
interface Bundle-Ether{{ last_octet_system_address|int + 256 }}
 description NOT-HANDED-OVER [no-mon,core-o,rd={{ node_name }}:lag1,iv-s=bb]
 no shutdown
 mtu 8222
 service-policy input P-CORE-INGRESS
 service-policy output P-CORE-EGRESS-BUNDLE
 bundle minimum-active links {{ (core_1|length / 3)|round|int * 2 }}
 load-interval 30
 dampening 1 750 2000 1
 logging events link-status
 ipv4 mtu 8192
 ipv4 address {{ core_1_p2p | ipaddr('network') }} {{ core_1_p2p | ipaddr('netmask') }}
!
{% for key, info in core_1|dictsort %}
interface {{ info.core }}
 description NOT-HANDED-OVER [no-mon,core-o,rd={{ node_name }}:{{ info.bbpe|replace("/","-") }},cid={{ info.cid }},iv-s=bb]
 no shutdown
 bundle id {{ last_octet_system_address|int + 256 }} mode active
 lacp period short
 load-interval 30
 dampening 1 750 2000 1
 ethernet oam
  profile oam-100x3
 !
!
{% endfor %}
router isis 65444
 interface Bundle-Ether{{ last_octet_system_address|int + 256 }}
  suppressed
  circuit-type level-2-only
  point-to-point
  hello-padding disable
  hello-password hmac-md5 {{ p_router_1_isis_key_1 }}
  address-family ipv4 unicast
   metric 9910000 level 2
   mpls ldp sync
  !
 !
!
mpls ldp
 neighbor {{ system_address }} password clear {{ p_router_1_ldp_key }}
 address-family ipv4
  label
   remote
    accept
     from {{ system_address }}:0 for loopback-only
     !
    !
   !
  !
 !
 interface Bundle-Ether{{ last_octet_system_address|int + 256 }}
 !
!
rsvp
 interface Bundle-Ether{{ last_octet_system_address|int + 256 }}
  bandwidth {{ core_1|length * 10 }} Gbps
  signalling dscp 48
 !
!
mpls traffic-eng
 interface Bundle-Ether{{ last_octet_system_address|int + 256 }}
 !
!
commit
