{% extends "4500_common.j2" %}
{% block bbpe2 %}
{% for item, value in bbpe.2.ports|dictsort %}
interface TenGigabitEthernet{{ value.remote_port }}
 description [core,rd={{ bbpe.2.hostname }}:{{ value.port|replace("/","-") }},cid=LOCAL,iv-s=cdn_pop] UPLINK_{{ loop.index }} TO {{ bbpe.2.hostname|upper }}
 no switchport
 mtu 8226
 no ip address
 no ip redirects
 channel-protocol lacp
 channel-group {{ bbpe.2.channel }} mode active
 no shutdown
!
{% endfor %}
{% endblock %}
