/configure
{% for key, value in bbpe.3.ports|dictsort %}
    port {{ value.port }}
        description "[core,rd={{ hostname }}:te{{ value.remote_port|replace('/','-') }},cid=LOCAL,iv-s=cdn_pop] IN-POP-CDN"
        ethernet
            mtu 8226
            hold-time up 5
        exit
        no shutdown
    exit
{% endfor %}
    lag 50
        description "[core,rd={{ hostname }}:pc1,iv-s=cdn_pop] IN-POP-CDN BUNDLE TO {{ hostname|upper }}"
{% for key, value in bbpe.3.ports|dictsort %}
        port {{ value.port }}
{% endfor %}
        lacp active
	no port-threshold
	port-threshold {{ ((bbpe.3.ports|length / 3|round|int) * 2) - 1 }} action down
        no shutdown
    exit all
