/configure
{% for key, value in bbpe.3.ports|dictsort %}
    port {{ value.port }}
        shutdown
    exit
{% endfor %}
    lag 50
{% for key, value in bbpe.3.ports|dictsort %}
        no port {{ value.port }}
{% endfor %}
        no port-threshold
    exit all
