exit all
configure
{% for key, cdn in services|dictsort %}
{% for name, info in cdn.array|dictsort %}
    port {{ info.port }}
        description "[no-mon,ext,iv-g={{ cdn_name }},iv-s=cdn_{{ cdn_name }}] TO {{ cdn.remote_svr }} PORT {{ info.remote_port|replace("/","-") }}"
        shutdown
    exit
{% endfor %}
{% if cdn_lag %}
    lag {{ cdn_lag + cdn.lag }}
	shutdown
	no lacp
{% for key, info in cdn.array|dictsort %}
	no port {{ info.port }}
{% endfor %}
        lacp active
        no shutdown
    exit
{% endif %}
{% endfor %}
exit all