exit all
configure
{% for key, value in core_1|dictsort %}
    port {{ value.remote_port }}
        description "[core,ip=,rd={{ core_1_hostname }}:{{ value.port|replace("/","-") }},cid={{ value.cid }},iv-s=vcdn_sc]"
        no shutdown
    exit
{% endfor %}
    lag 1
        description "[core,ip=,rd={{ core_1_hostname }}:be{{ system_last_octet|int + 256 }},iv-s=vcdn_sc]"
        no shutdown
    exit
exit all