show router static-route {{ mcdn.ipv4 }}
show router static-route {{ mcdn.ipv6 }}
show router policy prefix-list "POPCDN-IPV6-AKAMAI-MCDN-LAN"
show router bgp neighbor 89.200.128.[12..14] ipv6 advertised-routes | match {{ mcdn.ipv6 }} | ignore-case
show router bgp neighbor 89.200.128.[88..90] ipv4 advertised-routes | match {{ mcdn.ipv4 }}
