router bgp 65444
 neighbor {{ system_address }} inherit peer-session CORE-RR-client
 neighbor {{ system_address }} description {{ node_name }}
 neighbor {{ system_address }} password 0 {{ rr3_bllon_bgp_auth }}
!
 address-family ipv6
 neighbor {{ system_address }} activate
 neighbor {{ system_address }} inherit peer-policy CORE-IPV6_LABELED_UNICAST-IBGP-RR-client
end
