ping {{ aanp.ipv4 | ipaddr('1')|replace("/26", " ") }}
ping {{ aanp.ipv6 | ipaddr('1')|replace('/64','') }}
show interface port-channel {{ aanp.channel }}
{% for key, value in aanp.array|dictsort %}
show interface TenGigabitEthernet{{ value.port }}
show interface TenGigabitEthernet{{ value.port }} status
{% endfor %}