
# TiMOS-B-6.0.R5 both/hops ALCATEL SAS-X 24F 2XFP 7210 Copyright (c) 2000-2014 Alcatel-Lucent.
# All rights reserved. All use subject to applicable license agreements.
# Built on Tue Feb 11 19:36:42 IST 2014 by builder in /home/builder/6.0B1/R5/panos/main

#eth-mgmt Port Settings:
no  eth-mgmt-disabled
{% if first %}
eth-mgmt-address   {{ management | ipaddr('2') }}
{% else %}
eth-mgmt-address   {{ management | ipaddr('3') }}
{% endif %}
eth-mgmt-route     84.38.41.0/24 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     84.38.42.0/24 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     84.38.44.0/23 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     84.38.47.0/24 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     89.200.128.176/32 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     90.207.236.0/23 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     90.207.238.0/24 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     90.223.196.0/24 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}
eth-mgmt-route     90.223.208.0/23 next-hop {{ management | ipaddr('1')|replace("/29"," ") }}

primary-image      cf1:\images\6.0R5\
primary-config     cf1:\CFG\{{ hostname }}.cfg
