ping {{ ntf.ipv4 | ipaddr('1')|replace("/28", " ") }}
ping {{ ntf.ipv6 | ipaddr('1')|replace('/64','') }}
show interface port-channel {{ ntf.vlan_id }}
{% for key, value in ntf.array|dictsort %}
show interface TenGigabitEthernet{{ value.port }}
show interface TenGigabitEthernet{{ value.port }} status
{% endfor %}